pkgbase = hemera-beta-bin
	pkgdesc = Desktop cockpit for ACP agents (beta)
	pkgver = 0.1.1.r26.g8394bab
	pkgrel = 1
	url = https://github.com/KristenJestin/hemera
	arch = x86_64
	license = LicenseRef-UNLICENSED
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libgcc
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	provides = hemera
	conflicts = hemera
	options = !strip
	options = !debug
	source = hemera-beta-0.1.1-26-g8394bab.deb::https://github.com/KristenJestin/hemera/releases/download/beta-0.1.1-26-g8394bab/Hemera.Beta-0.1.1-26-g8394bab.deb
	sha256sums = b82a33d4d421deae0c6e6ce492947619796872ca20fc61e0d00ff833f32b84a7

pkgname = hemera-beta-bin
